# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\yogendra\anaconda3\lib\site-packages (4.8.3)
Requirement already satisfied: trio~=0.17 in c:\users\yogendra\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\yogendra\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\yogendra\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\yogendra\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: cffi>=1.14 in c:\users\yogendra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: idna in c:\users\yogendra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\yogendra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\yogendra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\yogendra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\yogendra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: sortedcontainers in c:\users\yogendra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\yogendra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\yogendra\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\yogendra\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\yogendra\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\yogendra\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [4]:
driver=webdriver.Chrome(r"C:\Users\yogendra\Downloads\chromedriver_win32/chromedriver.exe")

In [5]:
driver.get("https://naukri.com/")

In [6]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data.Analyst")

In [7]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Banglore")

In [8]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [9]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [10]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [11]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [12]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [13]:
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [14]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [15]:
import pandas as pd
df=pd.DataFrame({"Title":job_title,"Location":job_location,"Company_Name":company_name,"experience":experience_required})
df

,Title,Location,Company_Name,experience
0,Data Analysis & Interpretation Technology OpS ...,Bangalore/Bengaluru,Accenture,4-6 Yrs
1,Data Analysis & Interpretation Application Dev...,Bangalore/Bengaluru,Accenture,4-6 Yrs
2,Reference Data Analyst - Trade and Settlement,Hybrid - Bangalore/Bengaluru,Deutsche Bank,1-6 Yrs
3,Data Engineer/Data Analyst,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",Tech Mahindra,6-11 Yrs
4,Data Analyst || Bangalore || Male/ Female || 1...,Bangalore/Bengaluru,TeamLease,1-5 Yrs
5,Data Analyst,Permanent Remote,Tvaksa Technologies,7-12 Yrs
6,Sr. Data Analyst,Bangalore/Bengaluru,Startup Scalers,10-15 Yrs
7,Data Analyst,Bangalore/Bengaluru,ANZ,5-8 Yrs
8,Data Analyst,Bangalore/Bengaluru,Qualitest,10-20 Yrs
9,Procurement Data Analyst,Bangalore/Bengaluru,Schneider Electric,2-3 Yrs

# Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually

In [27]:
driver=webdriver.Chrome(r"C:\Users\yogendra\Downloads\chromedriver_win32/chromedriver.exe")

In [28]:
driver.get("https://www.naukri.com/")

In [29]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data.Scientist")

In [32]:
location=driver.find_element(By.XPATH,"//html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Banglore")

In [33]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [34]:
job_title=[]
job_location=[]
company_name=[]

In [35]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [36]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [37]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [38]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [39]:
import pandas as pd
df=pd.DataFrame({"Title":job_title,"Location":job_location,"Company_Name":company_name})
df

,Title,Location,Company_Name
0,Data Scientist,Bangalore/Bengaluru,Brainlabs Digital
1,SENIOR DATA SCIENTIST,Bangalore/Bengaluru,Walmart
2,SENIOR DATA SCIENTIST,Bangalore/Bengaluru,Walmart
3,Senior Data Scientist,"Pune, Bangalore/Bengaluru",Transunion
4,Lead Data Scientist,Permanent Remote,TEG Business Solutions Pvt Ltd
5,Manager - Data Scientist - Chubb-Bangalore,Bangalore/Bengaluru,Chubb
6,Data Scientist,Bangalore/Bengaluru,Slice
7,Data Scientist-Analytics,Hybrid - Bangalore/Bengaluru,Gcc Services
8,Data Scientist,"Chennai, Bangalore/Bengaluru",NOVAC
9,Data Scientist - Senior Manager,"Bangalore/Bengaluru, Mumbai (All Areas)",Piramal Capital & Housing Finance (PCHFL)

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [40]:
driver=webdriver.Chrome(r"C:\Users\yogendra\Downloads\chromedriver_win32/chromedriver.exe")

In [41]:
driver.get("https://www.naukri.com/")

In [42]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data.Scientist")

In [43]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [44]:
location_delhi=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[4]/div[2]/div[3]/label/p/span[1]")
location_delhi.click()

In [45]:
salary_delhi=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
salary_delhi.click()

In [46]:
job_title=[]
job_location=[]
company_name=[]
experience_job=[]

In [47]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [48]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [49]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [50]:
experience_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_job.append(experience)

In [51]:
print(len(job_title),len(job_location),len(company_name),len(experience_job))

10 10 10 10

In [52]:
import pandas as pd
df=pd.DataFrame({"Title":job_title,"Location":job_location,"Company_Name":company_name,"Experience":experience_job})
df

,Title,Location,Company_Name,Experience
0,Academic Counsellor - Inside Sales | CTC UpTo ...,"Gurgaon/Gurugram, United States (USA), Bulgaria",Datatrained,Datatrained
1,Junior Data Scientist,Gurgaon/Gurugram,Adidas,Adidas
2,Data Scientist,"Hybrid - Delhi / NCR, Kochi/Cochin, Noida, Kol...",Ezeiatech Systems Pvt. Ltd.,Ezeiatech Systems Pvt. Ltd.
3,Aws Data Engineer,Noida,Cognizant,Cognizant
4,Hiring For freshers - AR Caller (NTT Data),"Noida, New Delhi, Gurgaon/Gurugram",NTT DATA Business Solutions Private Limited,NTT DATA Business Solutions Private Limited
5,Editor,Gurgaon/Gurugram,Data Bridge (DBMR),Data Bridge (DBMR)
6,Data Scientist,Noida,NMS Consultant,NMS Consultant
7,Freshers Walk-In For Premium Sales Process | F...,Noida,Datatrained,Datatrained
8,Hiring Freshers For Sales Process - Mega BPO H...,"Noida, Greater Noida",Datatrained,Datatrained
9,Walk-In For Inside Sales | Fixed Day Shift - D...,Noida,Data Trained Education Pvt. Ltd.,Data Trained Education Pvt. Ltd.

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data asusual
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.
5. Now scrape data from this page asusual
6. Repeat this until you get data for 100sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [75]:
driver=webdriver.Chrome(r"C:\Users\yogendra\Downloads\chromedriver_win32/chromedriver.exe")

In [76]:
driver.get("https://www.flipkart.com/")

In [77]:
designation=driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys("sunglasses")

In [79]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [80]:
brand_name = []
start=0
end=3
for page in range(start,end):
    brand_name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_name[0:100]:
        brand_name.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [81]:
product_description = []
start=0
end=3
for page in range(start,end):
    product_description=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_description[0:100]:
        product_description.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [82]:
price_detail = []
start=0
end=3
for page in range(start,end):
    price_detail=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_detail[0:100]:
        price_detail.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [88]:
discount_offer = []
start=0
end=3
for page in range(start,end):
    discount_offer=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in discount_offer[0:100]:
        discount_offer.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [84]:
print(len(brand_name),len(product_description),len(price_detail),len(discount_offer))

80 80 80 80

In [95]:
import pandas as pd
df=pd.DataFrame({"Brand":brand_name,"Product":product_description,"Price":price_detail,"Discount":discount_offer})
df

,Brand,Product,Price,Discount
0,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
1,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
2,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
3,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
4,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
...,...,...,...,...
75,ROYAL SON,Others Wrap-around Sunglasses (63),₹413,79% off
76,Fastrack,UV Protection Round Sunglasses (Free Size),₹919,34% off
77,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹639,41% off
78,VINCENT CHASE,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹629,68% off
79,ROYAL SON,Others Over-sized Sunglasses (60),₹466,81% off

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market 
place=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [2]:
driver=webdriver.Chrome(r"C:\Users\yogendra\Downloads\chromedriver_win32/chromedriver.exe")

In [3]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [7]:
rating_one = []
start=0
end=7
for page in range(start,end):
    rating_one=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_one[0:100]:
        rating_one.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [92]:
review_sum = []
start=0
end=7
for page in range(start,end):
    review_sum=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_sum[0:100]:
        review_sum.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [93]:
full_review = []
start=0
end=7
for page in range(start,end):
    full_review=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_review[0:100]:
        full_review.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [94]:
print(len(rating_one),len(review_sum),len(full_review))

20 20 20

In [96]:
import pandas as pd
df=pd.DataFrame({"Rating":rating_one,"Review":review_sum,"Full_review":full_review})
df

,Rating,Review,Full_review
0,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
1,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
2,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
3,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
4,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
5,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
6,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
7,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
8,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
9,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
10,5,Fabulous!,This is my first iOS phone. I am very happy wi...
11,5,Classy product,Best and amazing product.....phone looks so pr...
12,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
13,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
14,4,Good choice,So far it’s been an AMAZING experience coming ...
15,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
16,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
17,4,Value-for-money,Just got this iphone 11\nAnd it is most powerf...
18,5,Highly recommended,"Amazing camera quality as expected, battery al..."
19,5,Perfect product!,It is just awesome mobile for this price from ...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes.

In [55]:
driver=webdriver.Chrome(r"C:\Users\yogendra\Downloads\chromedriver_win32/chromedriver.exe")

In [56]:
driver.get("https://www.flipkart.com/")

In [57]:
designation=driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys("sneakers")

In [58]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [37]:
brand_name = []
start=0
end=3
for page in range(start,end):
    brand_name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_name[0:100]:
        brand_name.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [47]:
product_description = []
start=0
end=3
for page in range(start,end):
    product_description=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_description[0:100]:
        product_description.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [39]:
price_detail = []
start=0
end=3
for page in range(start,end):
    price_detail=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_detail[0:100]:
        price_detail.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [50]:
print(len(brand_name),len(product_description),len(price_detail))

80 78 80

In [49]:
import pandas as pd
df=pd.DataFrame({"Brand":brand_name,"Product":product_description,"Price":price_detail})
df

ValueError: All arrays must be of the same length

# Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [90]:
driver=webdriver.Chrome(r"C:\Users\yogendra\Downloads\chromedriver_win32/chromedriver.exe")

In [91]:
driver.get("https://www.amazon.in/")

In [92]:
designation=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
designation.send_keys("Laptop")

In [93]:
search=driver.find_element(By.CLASS_NAME,"nav-right")
search.click()

In [94]:
core_i7=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/li[10]/span/a/div/label/i")
core_i7.click()

In [102]:
title_na=[]
rating_na=[]
price_na=[]

In [103]:
title_na=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_na[0:10]:
    title=i.text
    title_na.append(title)

In [104]:
rating_na=driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in rating_na[0:10]:
    rating=i.text
    rating_na.append(rating)

In [105]:
price_na=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_na[0:10]:
    price=i.text
    price_na.append(price)

In [106]:
print(len(title_na),len(rating_na),len(price_na))

34 52 41

In [134]:
import pandas as pd
df=pd.DataFrame({"Title":title_na,"Rating":rating_na,"Price":price_na})
df

ValueError: All arrays must be of the same length

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [129]:
driver=webdriver.Chrome(r"C:\Users\yogendra\Downloads\chromedriver_win32/chromedriver.exe")

In [130]:
driver.get("https://www.azquotes.com/")

In [131]:
top_quotes=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
top_quotes.click()

In [121]:
quotes_title = []
start=0
end=7
for page in range(start,end):
    quotes_title=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quotes_title[0:1000]:
        quotes_title.append(i.text)
    next_button=driver.find_element(By.XPATH,'//div[@class="pager"]/li[12]/a')
    next_button.click()
    time.sleep(3)

In [128]:
author_title = []
start=0
end=7
for page in range(start,end):
    author_title=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_title[0:1000]:
        author_title.append(i.text)
    next_button=driver.find_element(By.XPATH,'//div[@class="pager"]/li[12]/a')
    next_button.click()
    time.sleep(3)

In [132]:
quote_type = []
start=0
end=7
for page in range(start,end):
    quote_type=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in quote_type[0:1000]:
        quote_type.append(i.text)
    next_button=driver.find_element(By.XPATH,'//div[@class="pager"]/li[12]/a')
    next_button.click()
    time.sleep(3)

In [133]:
print(len(quotes_title),len(author_title),len(quote_type))

200 200 200

In [139]:
import pandas as pd
df=pd.DataFrame({"Quotes":quotes_title,"Author":author_title,"Type_of_quote":quote_type})
df

,Quotes,Author,Type_of_quote
0,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
1,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
2,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
3,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
4,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
...,...,...,...
195,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
196,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
197,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
198,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
199,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

# Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) 
from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame

In [35]:
driver=webdriver.Chrome(r"C:\Users\yogendra\Downloads\chromedriver_win32/chromedriver.exe")

In [36]:
driver.get("https://www.jagranjosh.com/")

In [37]:
gk_know=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[9]/a")
gk_know.click()

In [39]:
prime_minister=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
prime_minister.click()

In [51]:
prime_name=[]
prime_age=[]
prime_term=[]
prime_remark=[]

In [52]:
name_prime=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')
for i in name_prime:
    name=i.text
    prime_name.append(name)

In [57]:
age_prime=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')
for i in age_prime:
    age=i.text
    prime_age.append(age)

In [59]:
term_prime=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]/p')
for i in term_prime:
    term=i.text
    prime_term.append(term)

In [60]:
remark_prime=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]/p')
for i in remark_prime:
    remark=i.text
    prime_remark.append(remark)

In [61]:
print(len(prime_name),len(prime_age),len(prime_term),len(prime_remark))

18 18 35 18

# Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpagehttps://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on leftside.
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe

In [3]:
driver=webdriver.Chrome(r"C:\Users\yogendra\Downloads\chromedriver_win32/chromedriver.exe")

In [4]:
driver.get("https://www.motor1.com/")

In [5]:
feature_one=driver.find_element(By.XPATH,"/html/body/div[3]/div[2]/div/div/div[1]")
feature_one.click()

In [6]:
drop_down=driver.find_element(By.XPATH,"/html/body/div[4]/div[1]/div[3]/ul/li[5]/button")
drop_down.click()

In [7]:
feature_two=driver.find_element(By.XPATH,"/html/body/div[4]/div[1]/div[3]/ul/li[6]/ul/li[1]/a")
feature_two.click()

In [8]:
most_expensive=driver.find_element(By.XPATH,"/html/body/div[3]/div[8]/div[1]/div[1]/div/div/div[8]/div/div[1]/h3/a")
most_expensive.click()

In [9]:
car_title = []
price_tag = []

In [10]:
title_car=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in title_car[0:50]:
    car=i.text
    car_title.append(car)

In [13]:
tag_price=driver.find_elements(By.XPATH,'//strong[@class="trinity-skip-it"]')
for i in tag_price[0:50]:
    price=i.text
    price_tag.append(price)

In [14]:
print(len(car_title),len(price_tag))

50 0

In [ ]:
In this i am not able to identify class in the price section...